body {
    background: linear-gradient(to right,blue,purple,pink);
  }
    h1{
	color: white;
    font-family:'Century Gothic', sans-serif;
    font-size: 25px;
    text-align: center; 	
    }

    p{
        font-family: 'Century Gothic', sans-serif;
		background-image: linear-gradient(to right,white,yellow);
		-webkit-background-clip:text;
		-webkit-text-fill-color:transparent;
		font-size: 45px;
        text-align: center;
        text-transform: uppercase;
        height: 20%;
        margin-top: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }